DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=jungle_user
DB_PASSWORD=jungle_password
DB_NAME=jungle_db
PORT=3000
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SQS_ENDPOINT=http://localhost:4566
WORKERS_ENABLED=true
